header{
    width: 85%;
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 52px 0 0;
}
header .logo{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}
header .logo img{
    /* width: 40px; */
    width: clamp(20px,3vw,40px);
}
header .logo h2{
    font-size: 35px;
    font-weight: 700;
    color: red;
    text-shadow: 0 0 2px red;
}
header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 76px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}