*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #000000;
}
header{
    width: 95%;
    margin: 0 auto;
    max-width: 1800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    display: flex;
    align-items: center;
    gap: 14px;
}
header .logo img{
    max-width: clamp(16px, 4vw, 52px);
}
header .logo h2{
    color: #FF003D;
    font-size: clamp(16px, 4vw, 24px);
    font-weight: 600;
    letter-spacing: 6px;
}
header h1{
    color: #FF2B51;
    text-align: left;
    font-size: clamp(22px, 4vw, 40px);
    font-weight: 600;
    letter-spacing: 2px;
}

